@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor1: #C449BC;
    --cor2: #891EC7;    
    --cor3: #3C2752;
    --cor4: #B38186;
    --cor5: #D4AF9F;
}

header {
    background-color: var(--cor2);
    min-height: 120px;
    background-image: url(../imagens/logo2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 20px;
}

.menu {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    list-style-type: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    font-weight: bolder;
}

body {
  background-color: var(--cor3);
  font-family: Arial, sans-serif;
}

.container {
  font-weight: 600;
  max-width: 550px;
  margin: 40px auto;
  background: #fff;
  padding: 22px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
  text-align: center;
  color: #6A1B9A;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  color: #555;
  font-size: 14px;
  margin-bottom: 20px;
}

.section {
  margin-bottom: 20px;
}

.section h2 {
  font-size: 15px;
  color: #4A148C;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 6px;
  cursor: pointer;
}

input[type="text"], select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 8px;
}

.total {
  background: #5208a76c;
  padding: 12px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #4A148C;
}

button {
  width: 100%;
  padding: 14px;
  margin-top: 15px;
  background: #6A1B9A;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bolder;
  cursor: pointer;
}

button:hover {
  background: #4A148C;
}

#nome {
    text-transform: capitalize;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

footer p {
  color: white;
  margin: 4px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}   