@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1: #C449BC;
    --cor2: #891EC7;    
    --cor3: #3C2752;
    --cor4: #B38186;
    --cor5: #D4AF9F;
}

header {
    background-color: var(--cor2);
    min-height: 120px;
    background-image: url(../imagens/logo2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 20px;
}

.menu {
    background-color: rgba(109, 34, 143, 0.884);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    list-style-type: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    font-weight: bolder;
}

#sobre {
    background-color: rgba(0, 0, 0, 0.678);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 20px;
    padding: 20px;
    line-height: 30px;
}

#sobre h1 {
    color: white;
    font-family: cursive;
    font-size: 2.2em;
    text-align: center;
    margin-bottom: 20px;
}

#sobre p {
    color: white;
    font-size: 1.4em;
    text-align: justify;
}

main div {
    background-image: url(../imagens/imagen4.webp);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
}
