@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor1: #C449BC;
    --cor2: #891EC7;    
    --cor3: #3C2752;
    --cor4: #B38186;
    --cor5: #D4AF9F;
}

header {
    background-color: var(--cor2);
    min-height: 120px;
    background-image: url(../imagens/logo2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 20px;
}

.menu {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    list-style-type: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    font-weight: bolder;
}

body {
  background-color: var(--cor3);
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
}

.menu2 {
    background-color: rgba(0, 0, 0, 0.226);
    margin-top: 10px;
    border-radius: 20px;
}

h1 {
  text-align: center;
  margin: 20px;
  font-size: 1.8em;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  font-size: 16px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  padding-bottom: 4px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.card {
  background: rgba(255,255,255,0.15);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}

.card span {
  display: block;
  margin-top: 4px;
  font-size: 14px;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

footer p {
  margin: 4px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}   

.botao {
    position: fixed;
    bottom: 20px;    /* Posição inferior */
    right: 20px;     /* Posição direita */
    z-index: 100;
}

.botao button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: var(--cor2);
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 70px;
    width: 70px;
}

.botao a {
    color: white;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}
.botao button:hover {
    background-color: var(--cor3);
    text-decoration: underline;
}