@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1: #C449BC;
    --cor2: #891EC7;    
    --cor3: #3C2752;
    --cor4: #B38186;
    --cor5: #D4AF9F;
}

header {
    background-color: var(--cor2);
    min-height: 120px;
    background-image: url(../imagens/logo2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 20px;
}

.menu {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    list-style-type: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    font-weight: bolder;
}

main {
    background-color: var(--cor3);
    height: 100vh;
    padding-top: 20px;
}

#contato {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.562);
    margin: 0px 15px;
    border-radius: 15px;
    padding: 20px;
}

#contato h1 {
    color: white;
    font-family: cursive;
    font-size: 2.7em;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 15px;
}

#contato p {
    font-size: 1.2em;
    padding-bottom: 15px;
    text-align: center;
}

#contato button {
    display: block;
    background-color: var(--cor3);
    color: white;
    font-size: 1.2em;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto;
}

#contato button:hover {
    background-color: var(--cor2);
    text-decoration: underline;
}

.localizacao {
    color: white;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.562);
    margin: 0px 15px;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
}

.localizacao h1 {
    color: white;
    font-family: cursive;
    font-size: 2.7em;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 15px;
}

.localizacao p {
    font-size: 1.2em;
    padding-bottom: 15px;
    text-align: center;
}

.localizacao a {
    color: var(--cor2);
    font-size: 1.2em;
    text-decoration: none;
}

.localizacao a:hover {
    color: var(--cor1);
    text-decoration: underline;
}

footer {
    background-color: var(--cor3);
   text-align: center;
   font-size: 14px;
}

footer p {
    color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}   